html, body {
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: aquamarine;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
	text-align: left;
	line-height: 250%;
	color: red;
	font-family: monospace;
}
.mother_container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
