@font-face {
        font-family: "Avara";
        src:
                url("/assets/fonts/avara-bold.woff") format("woff"),
                url("/assets/fonts/avara-bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
}

@font-face {
        font-family: "Avara";
        src:
                url("/assets/fonts/avara-bold_italic.woff") format("woff"),
                url("/assets/fonts/avara-bold_italic.woff2") format("woff2");
        font-weight: 700;
        font-style: italic;
}

@font-face {
        font-family: "Avara";
        src:
                url("/assets/fonts/avara-black.woff") format("woff"),
                url("/assets/fonts/avara-black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
}
