---
---

@charset "UTF-8";

$font-size: 15px !default;

:root {

	--color-outer: #cccccc; // #cccccc
	--color-inner: #cccccc; // #cccccc
	--color-redundant: #cccccc;
	// --color-dark: #b6b6b6;
	// --color-light: #dcdcdc;
	--color-shine: white;
	--color-text: black; // #fefdfa
	--color-highlight: #7df9ff; // electric blue
	@media (prefers-color-scheme: dark) { }

	--aspectRatio-indexOfWorks: (2 / 3); // 1:1.5
	--columns-indexOfWorks: 10;
	@media (max-width: 4864px) {
		--columns-indexOfWorks: 9;
	}
	@media (max-width: 4352px) {
		--columns-indexOfWorks: 8;
	}
	@media (max-width: 3840px) {
		--columns-indexOfWorks: 7;
	}
	@media (max-width: 3328px) {
		--columns-indexOfWorks: 6;
	}
	@media (max-width: 2816px) {
		--columns-indexOfWorks: 5;
	}
	@media (max-width: 2304px) {
		--columns-indexOfWorks: 4;
	}
	@media (max-width: 1792px) {
		--columns-indexOfWorks: 3;
	}
	@media (max-width: 1280px) {
		--columns-indexOfWorks: 2;
	}
	@media (max-width: 768px) {
		--columns-indexOfWorks: 1;
	}

}

html,
body {
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	font-size: $font-size;
	font-weight: 400;
	font-style: normal;
	line-height: 1.0;
	text-align: left;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	color: var(--color-text);
	font-synthesis: none;
	text-align: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: geometricPrecision;
}

img {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a,
a:link,
a:hover,
a:active,
a:visited {
        text-decoration: none;
}
a[href*="//"]:not([href*="{{- site.url -}}{{- site.baseurl -}}"]), a[href*="mailto:"] {
	cursor: alias;
}
a:focus {
	// text-decoration: underline; // todo
}
:focus {
	outline: none;
}

body {
	background: var(--color-outer);
}

#mother {

	display: flex;
	flex-flow: column nowrap;
	width: calc(100% - 2rem);
	height: 100%;
	min-height: 100vh;
	margin: 1rem;
	background: var(--color-inner);
	animation: fadeIn 1.5s;
	@keyframes fadeIn {
		from { opacity: 0; } to { opacity: 1; }
	}
	& > * {
		margin: 1rem;
	}

	#notice {
		align-self: center;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 1rem;
		font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
		text-align: center;
		background: var(--color-light);
		& > * {
			margin: 0.5rem;
		}
		a {
			display: block;
			padding: 0.25rem;
			background: #fefdfa;
			border: 1px solid;
		}
	}

	#header {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&__anchor {
			display: block;
			height: 100%;
			width: 100%;
			cursor: crosshair;
		}
		&__graphic {
			display: block;
			height: 100%;
			width: 100%;
			overflow: visible;
		}
	}

	#nav { /* none yet! */ }

	#main { /* none yet! */ }

	#footer { /* none yet! */ }

	.generic--hidden {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.generic--flipped {
		transform: rotateY(180deg);
	}

	.generic--jsOnly {
		display: none;
	}

	@media (prefers-reduced-motion: reduce) {
		* {
			animation: none !important;
			transition: none !important;
		}
	}

}
