---
---

@import "vars";

@import "normalize";
@import "reset";
@import "font-face";

#header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        h1 {
                font-family: "Avara", serif;
                font-weight: 700;
                padding: $du;
        }
        h1[dir=ltr] {
        }
        h1[dir=rtl] {
        }
}
