---
---

@charset "UTF-8";

:root {

	--color-outer: var(--color-light);
	--color-inner: var(--color-light);

	--aspectRatio-indexOfWorks: (2 / 3); // 1:1.5
	--columns-indexOfWorks: 4;
	@media (max-width: 1280px) {
		--columns-indexOfWorks: 2.75;
	}
	@media (max-width: 768px) {
		--columns-indexOfWorks: 2;
	}
}

.work {

	#workHeaderToggle {
		display: none;
		// &:checked ~ .indexOfWorks .indexOfWorks__work:last-of-type {
		// 	position: absolute !important;
		// 	top: -9999px !important;
		// 	left: -9999px !important;
		// 	height: 1px !important;
		// 	width: 1px !important;
		// }
		&:checked ~ .indexOfWorks .indexOfWorks__work__folio {
			animation-play-state: paused;
		}
	}

	.indexOfWorks {

		justify-content: center;
		margin: -1rem -2rem;
		@media (max-width: 768px) {
			margin: -1rem;
		}

		&__work__folio {
			&:not(.generic--flipped) {
				animation: rotateNormal 60s infinite linear;
				@keyframes rotateNormal {
					from {
						transform: rotateY(0deg);
					}
					to {
						transform: rotateY(360deg);
					}
				}
			}
			&.generic--flipped {
				animation: rotateFlipped 60s infinite linear;
				@keyframes rotateFlipped {
					from {
						transform: rotateY(180deg);
					}
					to {
						transform: rotateY(540deg);
					}
				}
			}
		}

		&__work__innerVerso > *:last-child {
			margin-bottom: auto;
		}

		&__work__tag {
			pointer-events: none;
		}
	}

	& > header,
	& > p,
	& > blockquote,
	& > img {
		width: 50%;
		@media (max-width: 1280px) {
			width: 75%;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	& > header,
	& > p,
	& > blockquote {
		line-height: 1.5;
	}
	& > p,
	& > blockquote,
	& > img {
		margin: auto;
		max-width: 100%;
		& + p,
		& + blockquote,
		& + img {
			margin-top: 2rem;
		}
	}
	& > p,
	& > blockquote,
	.note__content {
		font-family: "Times", "Times New Roman", serif;
		i,
		q,
		em,
		dfn {
			font-style: italic;
		}
	}
	& > p,
	& > blockquote {
		font-size: 1.5rem;
	}
	.note__content {
		font-size: 1rem;
	}
	& > header {
		font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
		font-weight: 700;
		text-align: center;
		margin: 2rem auto;
		border: 1px solid var(--color-text);
		background: white;
		padding: 2rem;
		font-size: 2rem;
		@media (max-width: 768px) {
			padding: 1rem;
			font-size: 1.5rem;
		}
	}
	& > blockquote {
		border: 1px solid var(--color-text);
		padding: 2rem;
		@media (max-width: 768px) {
			padding: 1rem;
		}
		p + p {
			margin-top: 1rem;
		}
	}
	& > img {
		display: block;
	}

	.note {

		&__toggle {
			display: none;
			@media (max-width: 1280px) {
				&:checked ~ .note__content {
					display: block;
				}
			}
		}
		&__label {
			border: 1px dashed var(--color-text);
			padding: 0.2rem;
		}
		&__content {
			position: absolute;
			display: block;
			right: 2rem;
			width: calc(25% - 1rem);
			margin-top: -2rem;
			padding-left: 2rem;
			@media (max-width: 1280px) {
				position: relative;
				display: none;
				width: 100%;
				margin: 1rem auto;
				padding: 0;
			}
		}
		&__parenthesis {
			position: absolute !important;
			top: -9999px !important;
			left: -9999px !important;
			width: 1px !important;
			height: 1px !important;
			overflow: hidden;
		}

	}

}
