---
---

@charset "UTF-8";

:root {

	--color-inner: var(--color-light);

	--aspectRatio-indexOfWorks: (2 / 3); // 1:1.5
	--columns-indexOfWorks: 4;
	@media (max-width: 1280px) {
		--columns-indexOfWorks: 2.75;
	}
	@media (max-width: 768px) {
		--columns-indexOfWorks: 2;
	}
}

.work {

	#workHeaderToggle {
		display: none;
	}

	.indexOfWorks {

		justify-content: center;
		margin: -1rem -1rem 1rem -1rem;

		&__work__folio {
			&:not(.generic--flipped) {
				animation: rotateNormal 60s infinite linear;
				@keyframes rotateNormal {
					from {
						transform: rotateY(0deg);
					}
					to {
						transform: rotateY(360deg);
					}
				}
			}
			&.generic--flipped {
				animation: rotateFlipped 60s infinite linear;
				@keyframes rotateFlipped {
					from {
						transform: rotateY(180deg);
					}
					to {
						transform: rotateY(540deg);
					}
				}
			}
		}

		&__work__innerVerso > *:last-child {
			margin-bottom: auto;
		}

		&__work__tag {
			pointer-events: none;
		}
	}

	& > p,
	& > blockquote,
	& > header {
		line-height: 1.25;
		width: 50%;
		@media (max-width: 1280px) {
			width: 75%;
		}
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	& > p,
	& > blockquote {
		font-size: 1.5rem;
		margin: auto;
		& + p,
		& + blockquote {
			margin-top: 2rem;
		}
		i,
		q,
		em,
		dfn {
			font-style: italic;
		}
	}
	& > header {
		font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
		font-size: 2rem;
		font-weight: 700;
		margin: 2rem auto;
	}
	& > blockquote {
		border: 1px solid var(--color-text);
		padding: 2rem;
		p + p {
			margin-top: 1rem;
		}
	}

}
