---
layout: default
---

                        <ol>
                                {%- for work in site.data.works.index %}
                                <li><a href="{{ work.path }}">
                                        <dl>
                                                <div>
                                                        <dt>{{ work.title }}</dt>
                                                </div>
                                                <div>
                                                        <dd>{{ work.figure }}</dd>
                                                </div>
                                                <div>
                                                        <dd>{{ work.caption }}</dd>
                                                </div>
                                                <div>
                                                        {%- for tag in work.tags %}
                                                        <dd>{{ tag }}</dd>
                                                        {%- endfor %}
                                                </div>
                                        </dl>
                                </a></li>
                                {%- endfor %}
                        </ol>
