---
layout: main
---

			{%- assign index = site.data.indexOfWorks -%}
			<ol class="indexOfWorks">
				{%- for work in index.works -%}
				{%- if work.url -%}
				{%- assign url = work.url -%}
				{%- else -%}
				{%- assign url = work.title | slugify | prepend: index.path | append: "/" -%}
				{%- endif -%}
                                {%- unless work.isIndexed == false %}
				<li class="indexOfWorks__work">
					<article class="indexOfWorks__work__outerCard">
						<dl class="indexOfWorks__work__innerCard">
							{%- for entry in work -%}
							{%- assign key = entry[0] -%}
							{%- assign value = entry[1] -%}
							{%- assign datum = index.indexingDatum[key] -%}
								{%- assign previousEntry = forloop.index0 | minus: 1 -%}
								{%- assign previousKey = work[previousEntry] -%}
								{%- assign previousValue = work[previousEntry] -%}
								{%- assign previousDatum = index.indexingDatum[previousKey] -%}
									{%- assign nextEntry = forloop.index0 | plus: 1 -%}
									{%- assign nextKey = work[nextEntry] -%}
									{%- assign nextValue = work[nextEntry] -%}
									{%- assign nextDatum = index.indexingDatum[nextKey] -%}
							{%- if value and datum -%}
							{%- assign classes = datum.classes | join: " " | prepend: 'class="' | append: '"' -%}
							{%- for node in value %}
							{% unless datum.outerHTML.open == previousDatum.outerHTML.open %}{{ datum.outerHTML.open | replace: "&classes", classes }}{% endunless %}
								{{ datum.innerHTML.open }}{{ node }}{{ datum.innerHTML.close }}
								<!-- {{ index.works[1] | inspect }} -->
								<!-- {{ previousEntry | inspect }} -->
								<!-- {{ previousKey | inspect }} -->
								<!-- {{ previousValue | inspect }} -->
								<!-- {{ previousDatum | inspect }} -->
								<!-- {{ nextEntry | inspect }} -->
								<!-- {{ nextKey | inspect }} -->
								<!-- {{ nextValue | inspect }} -->
								<!-- {{ nextDatum | inspect }} -->
							{% unless datum.outerHTML.close == nextDatum.outerHTML.close %}{{ datum.outerHTML.close }}{% endunless %}
							{%- endfor -%}
							{%- endif -%}
							{%- endfor %}
						</dl>
					</article>
				</li>
                                {%- endunless -%}
				{%- endfor %}
			</ol>
