---
layout: main
style: indexOfWorks
---

			{%- assign index = site.data.indexOfWorks -%}
			<article class="indexOfWorks">
				<h2 id="main__title" class="--hidden">Index of Works</h2>
				{%- for work in index.works -%}
				{%- if work.url -%}
				{%- assign url = work.url -%}
				{%- else -%}
				{%- assign url = work.title | slugify | prepend: index.path | append: "/" -%}
				{%- endif -%}
                                {%- unless work.isIndexed == false %}
				<dl class="indexOfWorks__work {%- if work.type %} indexOfWorks__work--type{{work.type}} {%- endif %}" {%- if work.override %} style="{% for override in work.override -%} --{{ override[0] }}: {{ override[1] }}; {%- unless forloop.last %} {% endunless %}{% endfor %}"{% endif %} aria-labelledby="main__title work__{{ forloop.rindex }}">
					<dt id="work__{{ forloop.rindex }}" class="--hidden">Work {{ forloop.rindex }}</h3>
					<dd class="indexOfWorks__work__folio">
						<header class="indexOfWorks__work__outerRecto">
							<div class="indexOfWorks__work__innerRecto">
								{%- for entry in work -%}
								{%- assign key = entry[0] | remove: "0" | remove: "1" | remove: "2" | remove: "3" | remove: "4" | remove: "5" | remove: "6" | remove: "7" | remove: "8" | remove: "9" -%}
								{%- assign value = entry[1] -%}
								{%- assign datum = index.indexingDatum[key] -%}
								{%- assign previous = forloop.index0 | minus: 1 -%}
								{%- assign next = forloop.index0 | plus: 1 -%}
								{%- for previousEntry in work offset: previous limit: 1 -%}
								{%- assign previousKey = previousEntry[0] -%}
								{%- assign previousValue = previousEntry[1] -%}
								{%- assign previousDatum = index.indexingDatum[previousKey] -%}
								{%- endfor -%}
								{%- for nextEntry in work offset: next limit: 1 -%}
								{%- assign nextKey = nextEntry[0] -%}
								{%- assign nextValue = nextEntry[1] -%}
								{%- assign nextDatum = index.indexingDatum[nextKey] -%}
								{%- endfor -%}
								{%- if value and datum and datum.face == "recto" -%}
								{%- assign classes = datum.classes | join: " " | prepend: 'class="' | append: '"' %}
								{% if forloop.first == false and datum.outerHTML.open == previousDatum.outerHTML.open and datum.canCollapse and previousDatum.canCollapse and datum.classes == previousDatum.classes %}<!-- collapsed tag: `{{ datum.outerHTML.open }}` -->{% else %}{{ datum.outerHTML.open | replace: "&classes", classes }}{% endif %}
								{%- for node in value %}
									{{ datum.innerHTML.open }}{{ node | strip }}{{ datum.innerHTML.close }}
								{%- endfor %}
								{% if forloop.last == false and datum.outerHTML.close == nextDatum.outerHTML.close and datum.canCollapse and nextDatum.canCollapse and datum.classes == nextDatum.classes %}<!-- collapsed tag: `{{ datum.outerHTML.close }}` -->{% else %}{{ datum.outerHTML.close }}{% endif %}
								{%- endif -%}
								{%- endfor %}
							</div>
						</header>
						<footer class="indexOfWorks__work__outerVerso">
							<div class="indexOfWorks__work__innerVerso">
								<!-- <data class="indexOfWorks__work__numero" value="{{ forloop.rindex }}">
									<pre><span>№</span> {{ forloop.rindex }}</pre>
								</data> -->
								{%- for entry in work -%}
								{%- assign key = entry[0] | remove: "0" | remove: "1" | remove: "2" | remove: "3" | remove: "4" | remove: "5" | remove: "6" | remove: "7" | remove: "8" | remove: "9" -%}
								{%- assign value = entry[1] -%}
								{%- assign datum = index.indexingDatum[key] -%}
								{%- assign previous = forloop.index0 | minus: 1 -%}
								{%- assign next = forloop.index0 | plus: 1 -%}
								{%- for previousEntry in work offset: previous limit: 1 -%}
								{%- assign previousKey = previousEntry[0] -%}
								{%- assign previousValue = previousEntry[1] -%}
								{%- assign previousDatum = index.indexingDatum[previousKey] -%}
								{%- endfor -%}
								{%- for nextEntry in work offset: next limit: 1 -%}
								{%- assign nextKey = nextEntry[0] -%}
								{%- assign nextValue = nextEntry[1] -%}
								{%- assign nextDatum = index.indexingDatum[nextKey] -%}
								{%- endfor -%}
								{%- if value and datum and datum.face == "verso" -%}
								{%- assign classes = datum.classes | join: " " | prepend: 'class="' | append: '"' %}
								{% if forloop.first == false and datum.outerHTML.open == previousDatum.outerHTML.open and datum.canCollapse and previousDatum.canCollapse and datum.classes == previousDatum.classes %}<!-- collapsed tag: `{{ datum.outerHTML.open }}` -->{% else %}{{ datum.outerHTML.open | replace: "&classes", classes }}{% endif %}
								{%- for node in value %}
									{{ datum.innerHTML.open }}{{ node | strip }}{{ datum.innerHTML.close }}
								{%- endfor %}
								{% if forloop.last == false and datum.outerHTML.close == nextDatum.outerHTML.close and datum.canCollapse and nextDatum.canCollapse and datum.classes == nextDatum.classes %}<!-- collapsed tag: `{{ datum.outerHTML.close }}` -->{% else %}{{ datum.outerHTML.close }}{% endif %}
								{%- endif -%}
								{%- endfor %}
							</div>
						</footer>
						<!-- <svg class="indexOfWorks__work__sfx" width="100%" height="100%" viewBox="0 0 100 150">
							<defs>
								<linearGradient id="sfxFg{{ forloop.index }}" x1="0" y1="-5%" x2="0" y2="105%" gradientUnits="userSpaceOnUse">
									<stop offset="0%" stop-color="var(--color-shine)" stop-opacity="0" />
									<stop offset="50%" stop-color="var(--color-shine)" stop-opacity="50%" />
									<stop offset="100%" stop-color="var(--color-shine)" stop-opacity="0" />
							        </linearGradient>
							</defs>
							<rect width="100" height="150" rx="var(--radius-rx)" fill="url(#sfxFg{{ forloop.index }})" />
						</svg> -->
					</dd>
				</dl>
                                {%- endunless -%}
				{%- endfor %}
			</article>
