<!DOCTYPE html>
<!-- last pushed {{ site.time | date_to_long_string: "ordinal" }} -->
<html lang="en-GB" dir="auto">
<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author.en }}">
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preload" href="/assets/css/font.css" as="style">
	<link rel="preload" href="/assets/css/main.css" as="style">
	{%- if layout.style -%}
	{%- for style in layout.style %}
	<link rel="preload" href="/assets/css/{{ style }}.css" as="style">
	{%- endfor -%}
	{%- endif %}
	<link rel="stylesheet" type="text/css" href="/assets/css/font.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" media="all" />
	{%- if layout.style -%}
	{%- for style in layout.style %}
	<link rel="stylesheet" type="text/css" href="/assets/css/{{ style }}.css" media="all" />
	{%- endfor -%}
	{%- endif %}
	<script src="/assets/js/main.js" defer></script>
</head>
<body>
	<div id="mother">
		{%- if site.notice %}
		<!-- <aside id="notice">
			{%- for notice in site.notice %}
			{{ notice }}
			{%- endfor %}
		</aside> -->
		{%- endif %}
		<header id="header">
			<a href="/">
				<object id="header__graphic" type="image/svg+xml" data="/assets/svg/header.svg">
					Bashar al-Idreesi
				</object>
			</a>
		</header>
		<!-- <nav id="nav"></nav> -->
		<main id="main">
			{{ content }}
		</main>
		<!-- <footer id="footer"></footer> -->
	</div>
</body>
</html>
