---
layout: main
---

                        <ol id="main__workIndex">
                                {%- for work in site.data.workIndex.works -%}
                                {%- assign url =
                                        work.title |
                                        slugify |
                                        prepend: site.data.workIndex.path |
                                        append: '/'
                                %}
                                <li class="workIndex__work">
                                        <dl>
                                                {%- if work.title %}
                                                <div class="work__title">
                                                        <dt><a href="{{ url }}">{{ work.title }}</a></dt>
                                                </div>
                                                {%- endif -%}
                                                {%- if work.figure %}
                                                <div class="work__figure">
                                                        <dd><a href="{{ url }}">{{ work.figure }}</a></dd>
                                                </div>
                                                {%- endif -%}
                                                {%- if work.caption %}
                                                <div class="work__caption">
                                                        <dd>{{ work.caption }}</dd>
                                                </div>
                                                {%- endif -%}
                                                {%- if work.tags %}
                                                <div class="work__tags">
                                                        {%- for tag in work.tags %}
                                                        <dd>{{ tag }}</dd>
                                                        {%- endfor %}
                                                </div>
                                                {%- endif %}
                                        </dl>
                                </li>
                                {%- endfor %}
                        </ol>
